<html>
  <head>
    <title>{{title}}</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='css/index.css' />
  </head>
  <body>
    {{! <h1>Корм для риб</h1> }}
    <h1>user info</h1>
    {{! <h1>Корм для риб</h1> }}

    {{{body}}}

  </body>
</html>