<html>
  <head>
    <title>{{title}}</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='css/index.css' />
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
      {{> title text="Welcome"}}
      <h2></h2>
    </header>

    {{> line}}
    {{> space}}

    <main>
      {{{body}}}
    </main>

  </body>
</html>